<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset Password</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Style.css')}}">
        <script src="https://kit.fontawesome.com/289e32f898.js" crossorigin="anonymous"></script> 
    </head>

    <body style="background-color: #CCE0F4;"> 
        <div class="ResetPsw-Container">  
            <header>Reset Your Password</header>
            <!-- Close button -->
            <i class="fa fa-times" onclick="closeModal()"></i>
            <h5>Forget password? Please reset a new password for your account!</h5>
     
            <div class="form-innerRP"> 
                <!-- reset password form -->
                <form action="{{ url_for('reset_password') }}" class="ResetPsw" method="POST" onsubmit="showSuccessAlert()">
                    <div class="fieldRP">
                        <h3>Your Registered Email *</h3>
                        <input type="email" id="email" name="email" placeholder="Type your registered email" required>
                    </div>
                    <div class="fieldRP">
                        <h4>New Password *</h4>
                        <input type="password" id="new_password" name="new_password" placeholder="Type your new password" pattern="(?=.*[A-Z])(?=.*[@#$%!]).{8,}" title="A valid password includes at least one uppercase letter, one special character (!@#$%), and has a minimum length of 8 characters" required>
                    </div>
                    <div class="fieldRP">
                        <h4>Confirm New Password *</h4>
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="Retype your new password" required>
                        <div id="passwordMatchMessage"></div>
                    </div>
                    <div class="submitBtn">
                        <input type="submit" value="Submit" id="submitBtn">
                    </div>
                </form>
            </div>     
        </div>

        <!-- Alert message popup -->
        {% if alert_message %}
        <script>
            window.alert("{{ alert_message }}");
        </script>
        {% endif %}
        
        <script>
            function closeModal() {
                // Redirect to the index page
                window.location.href = "{{ url_for('index') }}";
            }

            document.addEventListener("DOMContentLoaded", function() {
                const new_password = document.getElementById("new_password");
                const confirm_password = document.getElementById("confirm_password");
                const passwordMatchMessage = document.getElementById("passwordMatchMessage");
                const submitBtn = document.getElementById("submitBtn");

                // check password == confirmpassword
                function checkPasswords() {
                    if (new_password.value !== confirm_password.value) {
                        passwordMatchMessage.textContent = 'Passwords do not match!';
                        passwordMatchMessage.style.color = 'red';
                        confirm_password.setCustomValidity('Passwords do not match!');
                        submitBtn.disabled = true;
                    } else {
                        passwordMatchMessage.textContent = '';
                        confirm_password.setCustomValidity('');
                        submitBtn.disabled = false;
                    }
                }

                new_password.addEventListener('input', checkPasswords);
                confirm_password.addEventListener('input', checkPasswords);
            });
        </script>
    </body>
</html>